@use "/src/styles/breakpoints.scss" as breakpoints;

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
  }
}

.selectPopoverContent {
  height: 100%;
  border-radius: 4px !important;
}

@media (min-width : #{breakpoints.$tablet-width}) {
  .inputWrapper {
    width: 45%;
  }
}
