@use "/src/styles/breakpoints.scss" as breakpoints;

.step {
  span {
    display: none;
  }
}

.steps {
  padding: 10px;
}

@media(min-width : #{breakpoints.$tablet-width}){
  .steps{
    padding: 25px;
  }
}